.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.messages::-webkit-scrollbar {
  width: 6px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
